
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{
    color:#000!important;background-color:#f1f1f1!important
}
.w3-sidebar{
    height:100%;
    width:200px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto
}
.w3-container,.w3-panel{
    padding:0.01em 16px
}
.w3-panel{
    margin-top:16px;margin-bottom:16px
}
.w3-round-small{
    border-radius:2px
}
.w3-round,.w3-round-medium{
    border-radius:4px
}
.w3-round-large{border-radius:8px}.w3-round-xlarge{border-radius:16px}
.w3-round-xxlarge{border-radius:32px}
.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@media (min-width:993px){.w3-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}
.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{position:static;float:left}
.w3-bar .w3-button{white-space:normal}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-main,#main{transition:margin-left .4s}
.w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
.w3-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.w3-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.w3-margin-right{margin-right:16px!important}
.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
.w3-btn,.w3-button{border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap}
hr {
        border: 1px solid grey;
    }
    .myForm {
        display: grid;
        
        grid-template-columns: auto 1fr 1fr;
        grid-auto-flow: row dense;
        grid-gap: .8em;
        background: #eee;
        padding: 1.2em;
      }
      .myForm > label  {
        grid-column: 1;
        grid-row: auto;
      }
      .myForm > input,
      .myForm > button {
        grid-column: 2;
        grid-row: auto;
        padding: 1em;
        border: none;
      }
      .myForm textarea {
       min-height: calc(100% - 2em);
       width: 100%;
       border: none;
      }
      #comment-box {
       grid-column: 3;
       grid-row: span 3;
      }
      .myForm > button {
       grid-column: 2 / 4; 
      }            